// Target editors with `catdown` theme applied, so
// as not to override any other styles.
.cm-s-catdown
        
    div.CodeMirror-cursor
        z-index 20
    
    .cm-atom
        color #219
    
    .cm-number
        color #164
    
    .cm-property
        color black
    
    .cm-operator
        color black
    
    .cm-meta
        color #555
    
    .cm-error
        color #f00
    
    .cm-qualifier
        color #555
    
    .cm-builtin
        color #30a
    
    .cm-bracket
        color #997
    
    .cm-tag
        color #170
    
    .cm-attribute
        color #00c

    // Comments, inline code and unfenced code blocks
    .cm-comment
        color #DF5000
    
    // Code keywords
    .cm-keyword
        color #A71D5D

    // Code definitions
    .cm-def
        color #0086B3
    
    // Variables
    .cm-variable
        color black
    
    .cm-variable-2
        color #05a
    
    .cm-variable-3
        color #085

    // Strings
    .cm-string
        color #DF5000
    
    .cm-string-2
        color #f50

    // Headers h1-h6
    .cm-header
        color black
        font-weight bold
        font-size 1.3rem
        line-height 2.4em

        // Keep colour for inline code in headers
        &.cm-comment
            color #DF5000
        // text-decoration underline
        // font-family "Arial", "Helvetica", sans-serif

    // Blockquote
    .cm-quote
        color black
        background #eee
        font-weight bold
    
    // Horizontal rules
    .cm-hr
        color #999
    
    // Hyperlinks
    .cm-link
        color #22A7F0
        font-weight bold
        

.cm-negative
    color #d44

.cm-positive
    color #292

.cm-strong
    color black
    font-weight bold

.cm-em
    font-style italic

.cm-emstrong
    color black
    font-style italic;
    font-weight bold

.cm-link
    text-decoration underline

.cm-invalidchar
    color #f00