body
    font-family "Raleway", sans-serif

.block
    padding 60px 0

#block-intro
    padding-top 10%
    text-align center

#block-usage
    background white

#block-plugins
    background white

#block-examples
    background white

.catdown-demo
    outline 1px solid #1EAEDB
    margin-bottom 40px

.cm-s-catdown
    height 300px
    max-height 300px
    text-align left