body
    font-family "Raleway", sans-serif

.block
    padding 60px 0
    // border-bottom 1px solid rgba(0,0,0,0.1)

#block-intro
    // background royalblue
    padding-top 10%
    text-align center

#block-usage
    background white

#block-plugins
    background white

#block-examples
    background white

.catdown-example
    // box-shadow 0 0 10px 1px rgba(0,0,0,0.2)
    outline 1px solid rgba(0,0,0,0.1)
    margin-bottom 40px

.CodeMirror, #md-preview
    width 50%
    max-width 50%
    height 300px
    max-height 300px

    overflow-y auto

    display inline-block
    float left

    background white

    text-align left